@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{

    font-family: 'Prompt';

}

::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra lateral */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #00171F; /* Color de fondo de la pista */
  }
  ::-webkit-scrollbar-thumb {
    background-color: #00A0DC; /* Color del pulgar de la barra */
    border-radius: 5px; /* Radio de borde del pulgar de la barra */
  }
  